# IMAP account on remote server
set imap_user = "no-spam"
set imap_pass = "secret"
set folder = "imaps://$imap_user@imap.phaenovum.de/"
set spoolfile = "+INBOX"
# enable this to remove the mailboxes of the other accounts (s. README.md)
#unmailboxes = *
mailboxes = "+INBOX" "+Junk" "+Trash"
set mbox = "+INBOX"
set record = "+Sent"
set postponed = "+Drafts"

source $my_mutt_dir/identity_phaenovum
