# reset everything to default
reset all

# set the homedir
set my_mutt_dir=$HOME/.mutt

# include all other settings
source $my_mutt_dir/basic-settings
source $my_mutt_dir/color-settings
source $my_mutt_dir/compose-settings
source $my_mutt_dir/keybind-settings
source $my_mutt_dir/regex-settings
source $my_mutt_dir/imap-settings
source $my_mutt_dir/maildir-settings
source $my_mutt_dir/smtp-settings
source $my_mutt_dir/subscription-settings
source $my_mutt_dir/nntp-settings

# Switch to default account on startup.
source $my_mutt_dir/identity_fernuni

# folder hooks to load custom configuration
# folder-hook [!]regexp command
# if multiple folder-hooks match they are read in the given order
folder-hook 'fernuni-hagen.de' 'source $my_mutt_dir/identity_fernuni'
folder-hook 'strato.de' 'source $my_mutt_dir/identity_stzedn'

# bind the accounts to fn keys
# to find out keycodes within mutt type:
# exec: what-key
macro index <f2> '<change-folder>imaps://mailstore.fernuni-hagen.de<enter>'
macro index <f3> '<change-folder>imaps://imap.strato.de<enter>'

